{% extends 'base.html' %}


{% block title %}
Create New Blog Category

{% endblock %}



{% block content %}

{% if user.is_authenticated %}
    <h1>Add Category...</h1>

    <br/><br/>
    <div class="form-group">
    <form method="post">
        {% csrf_token %}    
        

        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Save</button>
    </form>

    {% if error_message %}
        <p class="error">{{ error_message }}</p>    
    {% endif %}
    </div>
{% else %}
    You do not have sufficient permissions to add a new blog post.
{% endif %}

{% endblock %}
